<h1>Edit Load here</h1>
<form method="POST" action="/loads/<%= @load.id %>">
<input type="hidden" id="hidden" name="_method" value="patch">
Pallet Count: <input type="number" name="pallet_count">
Weight: <input type="number" name="weight">
Description: <input type="text" name="description">
Check the box if this load is hazardous: <input type='hidden' name='haz_mat' value='false' />
<input type='checkbox' name='haz_mat' value='true' />
  <input type="submit" value="Submit">
</form>
<br>

