<h1>CRUD Load </h1>

<a href="/loads/show"><button type="button">See all YOUR existing loads</button></a>
<br><br>
<a href="/loads/show_single_load"><button type="button">Check on an individual load</button></a>
<br><br>
<a href="/loads/new"
"><button type="button">Add a new load</button></a>
<br><br>
<a href="/loads/edit"><button type="button">Edit or delete an existing load</button></a>

<h1> CRUD Route </h1>






