<h1>New Route</h1>
<form method="POST" action="/routes">
Pickup Location: <input type="text" name="pickup_location">
Destination: <input type="text" name="destination">
Pickup Date: <input type="text" name="pickup_date">
Delivery Date: <input type="text" name="delivery_date">
<input type="submit" value="Submit">
</form>
<br>
